/* Website Main Style */
.header-wrap {
  min-height: 200px;
  background: #444;
  .header {
    width: 100%;
    text-align: center;
    h1 {
      color : #fff;
      margin-top: 70px;
    }
  }
}
.body-wrap {
  margin: 50px 0px 0px 0px;
  .card-wraper{
    margin-top: 30px;
    .status-card{
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      .card-image{
        width: 70px;
        float: left;
        margin: 10px;
      }
      .status-content{
        margin: 10px 10px 10px 10px;
        .name{
          margin: 0;
        }
        .date{
          margin: 0;
        }
      }
    }
  }
  #statusform {
    textarea{
      width: 100%;
      height: 100px;
      margin-bottom: 10px;
    }
  }
}